<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 contact">
                <h2>Contact Us</h2>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto: escience-2016@googlegroups.com">escience-2016@googlegroups.com</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto: pauliceia_sjc@googlegroups.com">pauliceia_sjc@googlegroups.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Know Pauliceia 2.0</h2>
                <div class="links">
                    <a href="http://www.github.com/Pauliceia" target="_blank">
                        <img style="float:right;" src="/assets/blacklight/github.png" title="github of project pauliceia" />
                    </a>
                    <a href="http://www.pauliceia.dpi.inpe.br/portal" target="_blank">
                        <img src="/assets/blacklight/portal.png" title="web portal of project pauliceia" />
                    </a>
                    <a href="http://www.pauliceia.dpi.inpe.br/wiki" target="_blank">
                        <img style="float:left;" src="/assets/blacklight/wiki.png" title="wiki of project pauliceia" />
                    </a>
                </div>
            </div>
            <div class="logo-footer col-sm-4">
                <img src="/assets/blacklight/logo.png" title="logo pauliceia" />
            </div>            
        </div>
    </div>
</div>
<div class="sub-navbar"></div>